fastapi[all]
uvicorn[standard]
SQLAlchemy[asyncio]
aiomysql 
psycopg[binary]
apscheduler
pydantic
aiohttp
aiosmtplib
python-jose[cryptography]
redis[hiredis]
antlr4-python3-runtime
pytest
httpx
passlib[bcrypt] 
python-multipart  
aiosmtplib